---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { ProjectList } from "@/components/project-list";
import { Navbar } from "@/components/navbar";
import Footer from "@/components/footer.astro";
import MailSmall from "@/components/icons/MailSmall.astro";
import { H1, P } from "@/layouts/text-wrapper";
import { BackgroundBeamsWithCollision } from "@/components/ui/background-beams-with-collision";
import { HeroHighlight } from "@/components/ui/hero-highlight";
import { HoverBorderGradient } from "@/components/ui/hover-border-gradient";
import { GlowySpotlightWrapper } from "@/components/spotlight-glowy-wrapper";

const projects = await getCollection("projects");
---

<Layout title="Juan Saugar - Portfolio">
  <HeroHighlight client:load>
    <Navbar client:idle />
    <main
      id="home"
      class="flex flex-col items-center justify-center w-[98vw] mx-auto"
    >
      <BackgroundBeamsWithCollision client:load>
        <div class="w-[95vw] lg:w-[50vw] my-16 lg:my-32 mx-auto">
          <div class="flex flex-col gap-y-10">
            <!-- Avatar + Título -->
            <div
              class="flex flex-col sm:flex-row items-center sm:items-start gap-5"
            >
              <img
                src="/resume-img.png"
                alt="Juan Saugar"
                class="rounded-full size-20 sm:size-16"
              />
              <H1
                text="h1"
                className="py-1 text-4xl sm:text-6xl text-center sm:text-start my-5 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-violet-500 to-slate-800 dark:from-yellow-300 dark:to-emerald-500"
                client:load
              />
            </div>

            <!-- Descripción + Contacto -->
            <div
              class="w-full lg:w-[30vw] flex flex-col items-center lg:items-start gap-y-6"
            >
              <P
                text="description"
                className="[&>strong]:text-violet-300 [&>strong]:font-bold text-base sm:text-lg text-center lg:text-start line-clamp-3"
                client:load
              />

              <a
                href="mailto:juancarlossa.agullo@gmail.com"
                class="w-full sm:w-auto"
              >
                <div class="flex justify-center lg:justify-start">
                  <HoverBorderGradient
                    client:load
                    containerClassName="rounded-full"
                    as="div"
                    duration={1}
                    className="dark:bg-slate-900 gap-x-3 bg-violet-200 flex items-center justify-center px-4 py-2"
                  >
                    <MailSmall />
                    Contact me
                  </HoverBorderGradient>
                </div>
              </a>
            </div>
          </div>
        </div>
      </BackgroundBeamsWithCollision>
      <GlowySpotlightWrapper className="w-full" client:load>
        <ProjectList projects={projects.map(({ data }) => data)} client:idle />
      </GlowySpotlightWrapper>
    </main>
    <Footer />
  </HeroHighlight>
</Layout>

{
  /*
    <div class="grid gap-5 md:grid-cols-2">
      {
        projects.map((project) => {
          const { slug, data } = project;
          const { title, description, img, url } = data;

          return (
            <article class="flex">
              <a href={`/project/${slug}`}>
                <img
                  src={`https://cdn.royalcanin-weshare-online.io/zlY7qG0BBKJuub5q1Vk6/v1/59-es-l-golden-running-thinking-getting-dog-beneficios?w=1280&fm=jpg&auto=format%2Ccompress`}
                  alt={title}
                  class="mr-5 w-48 rounded"
                />
              </a>
              <div class="flex flex-col justify-center">
                <h2 class="text-2xl font-bold">{title}</h2>
                <p>{description}</p>
              </div>
            </article>
          );
        })
      }
    </div>
  */
}
