---
import Linkedin from "./icons/Linkedin.astro";
import Github from "./icons/Github.astro";
import Mail from "./icons/Mail.astro";
---

<footer class="">
  <div
    class="max-w-screen mx-auto py-12 text-center flex flex-row items-center justify-center space-x-5"
  >
    <a
      href={"https://www.linkedin.com/in/juan-carlos-saugar-186a6a1a1"}
      target="_blank"
    >
      <Linkedin />
    </a>
    <a href={"https://github.com/juancarlossa"} target="_blank">
      <Github />
    </a>
    <a href={"mailto:juank987610@gmail.com"} target="_blank" class="pl-2">
      <Mail />
    </a>
  </div>
</footer>
