---
import "@fontsource-variable/onest";
import { ClientRouter } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;

console.log("Layout.astro is being used!");
---

<!doctype html>
<html class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <slot />
  </body><style>
    html,
    body {
      margin: 0;
      width: 100%;
      @apply text-white bg-slate-200 dark:bg-slate-800 scroll-smooth;
      font-family: "Onest Variable", sans-serif;
      font-weight: 300;
      prefers-color-scheme: dark;
    }
    h3 {
      font-weight: 300;
    }
    body > div {
      @apply container;
    }
  </style>
</html>
